// @2x size retina images
$star-height: 185/2;
$star-width: 346/2;

.banner {
  background-color: $brand-color;
  background-image: url("/assets/images/hills.svg"), url("/assets/images/star@2x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left -16em bottom 0, right -2em bottom 0;
  background-size: 400px 41px, #{$star-width}px #{$star-height}px;
  padding-bottom: $spacing-unit * 2;

  @media only screen and (min-width: $on-medium) {
    background-position: left -2em bottom 0, right 3em bottom 0;
  }
}

.banner-logo {
  width: 380px; // gives approx h2 height
}

.banner-tagline {
  color: $white;
  font-family: $title-font-family;
  padding-right: 60px; // make sure tagline doesn't overlap with star
}
