<div class="optin">
  <div class="wrapper">
    <div class="optin-copy">
      <h2 class="optin-title">Add-on is in Beta!</h2>
      <p>
        {{ site.title }} is a Heroku Marketplace Add-on that provides RethinkDB realtime databases as a service.
        The Add-on is currently in beta and can be provisioned for free. 
        Check out our <a href="https://elements.heroku.com/addons/rethinkdb">Add-on page</a> for more information.
      </p>
      <h2 class="optin-title">News & Updates</h2>
      <p>
         Sign up to stay informed about news and updates.
      </p>
    </div>
    {% include optin-form.html %}
  </div>
</div>
