<!-- Sendinblue -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = "Please choose a country code";

  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE =
    "Something's not quite right with that email. Check it and try again.";

  window.REQUIRED_ERROR_MESSAGE = "Required field!";

  window.GENERIC_INVALID_MESSAGE = "Something's not quite right with that email. Check it and try again.";

  window.translation = {
    common: {
      selectedList: "{quantity} list selected",
      selectedLists: "{quantity} lists selected",
    },
  };

  var AUTOHIDE = Boolean(0);
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
