<div class="optin-form">
  <form action="{{ site.mailchimp_form_action }}" method="post" target="_blank">
    <label for="optin-email" class="screen-reader-text">Email Address </label>
    <input class="textfield" type="email" value="" name="EMAIL" id="optin-email" placeholder="Email..." required />

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_e7715ee8c5bade402e6b49af2_af1bdc3608" tabindex="-1" value="" />
    </div>

    <button class="button">Request Invite</button>
    <small></small>
  </form>
</div>
