.features {
  margin-top: 2em;
  margin-bottom: 1em;

  @media only screen and (min-width: $break-medium) {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.feature {
  border: 5px dotted $brand-light;
  margin-bottom: 1em;
  padding: 1em;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.feature-title {
  font-size: $font-size-h5;
  margin-top: 0;
}
