$content-width: 77rem; // 75em (1200px) + 1em padding left + 1em padding left
$content-width-small: 43.75rem; // 700px (reasonable text line length)
$hover-transition-time: 0.25s;
$border-radius: 5px;
