$font-family-title: "Roboto Slab", serif;
$font-family-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-h1: 4.209em;
$font-size-h2: 3.157em;
$font-size-h3: 2.369em;
$font-size-h4: 1.777em;
$font-size-h5: 1.333em;
$font-size-small: 0.85em;
